body {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

body {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th , td {
  min-width: 6rem;
}

.dropdown {
  margin: 1.5rem;
}

a {
  margin: 10px;
  display: flex;
  justify-content: center;
}

label {
  font-weight: bold;
}

.user-details {
  margin: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  max-width: 500px;
}

.user-header {
  margin-left: 2rem;
  text-align: left !important;
}
