body {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

body {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th , td {
  min-width: 6rem;
}

select {
  margin: 25px;
  padding: 10px;
}

a {
  margin: 10px;
  display: flex;
  justify-content: center;
}

label {
  font-weight: bold;
}
